<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="book" href="/tabs/(book:book)">
      <ion-icon name="book"></ion-icon>
      <ion-label>Book</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="item" href="/tabs/(item:item)">-->
      <!--<ion-icon name="briefcase"></ion-icon>-->
      <!--<ion-label>Items</ion-label>-->
    <!--</ion-tab-button>-->

    <ion-tab-button tab="contact" href="/tabs/(contact:contact)">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="player" href="/tabs/(player:player)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Players</ion-label>
    </ion-tab-button>
    <!--<ion-tab-button tab="battle" href="/tabs/battle">-->
      <!--<ion-icon name="flash"></ion-icon>-->
      <!--<ion-label>Battle</ion-label>-->
    <!--</ion-tab-button>-->
    <ion-tab-button tab="log" href="/tabs/(log:log)">
      <ion-icon name="ios-list-box"></ion-icon>
      <ion-label>Logs</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
